@import "macro";

.articles-container {
  width: 600px;
  margin: auto;
  .article-item {
    @include flex-container;
    @include flex-center;
    border-bottom: 1px solid #EEEEEE;
    padding: 20px;
    .link-wrapper {
      @include flex(1);
      font-size: 20px;
    }
    .timestamp {
      @include flex(1);
      text-align: right;
    }
  }
}