@import "macro";

.articles-container {
  max-width: 1000px;
  margin: auto;
  .article-item {
    @include flex-container;
    @include flex-center;
    border-bottom: 1px solid #EEEEEE;
    padding: 20px;
    .link-wrapper {
      @include flex(1);
      font-size: 20px;
    }
    .timestamp {
      @include flex(1);
      text-align: right;
    }
  }

  #article-body-container {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.8;
  }
}