@import "macro";

@mixin tag {
  padding: 0 5px;
  line-height: 14px;
  border-radius: 7px;
  background-color: $theme-orange;
  color: white;
  font-size: 12px;
  // @include transform-origin(100% 0);
  // @include transform(scale(.5, .5));
}

html, body, .shop-page-container {
  height: 100%;
}

$footer-height: 50px;

.shop-page-container {
  color: $theme-black;
  .order-type-container {
    .order-type {
      display: inline-block;
      width: 50%;
      line-height: 36px;
      text-align: center;
      font-size: 14px;
      color: $theme-black;

      background-color: #E4E4E4;
      &.selected {
        background-color: $theme-orange;
        color: $theme-white;
      }
    }
  }

  .goods-container {
    height: 100%;
    margin-top: -36px;
    padding: 36px 0 50px;

    @include flex-container;

    .categories-container {
      @include flex(none);
      width: 80px;
      background-color: $bg-light-gray;
      overflow: auto;
      .category-label {
        background-color: #F6F6F6;
        border-bottom: 1px solid $border-color;
        text-align: center;
        line-height: 55px;
        font-size: 12px;
        color: $theme-black;
        position: relative;
        &.selected {
          border-left: 5px solid $theme-green;
          background-color: $theme-white;
          color: $theme-green;
          font-size: 13px;
        }

        .category-count {
          @include tag;
          position: absolute;
          top: 10px;
          right: 5px;
        }
      }
    }

    .ingredients-container {
      @include flex(1);
      overflow: auto;
      .ingredients-panel {
        margin-left: 10px;
        padding: 10px 10px 10px 0;
        border-bottom: 1px solid $border-color;

        @include flex-container;
        .image-container {
          @include flex(none);
          img {
            width: 80px;
          }
        }

        .ingredient-info-container {
          @include flex(1);
          padding-left: 10px;
          position: relative;
          .name-container {
            .name, .tag {
              display: inline-block;
              vertical-align: middle;
            }

            .name {
              font-size: 16px;
            }
            .tag {
              padding: 0 2px;
              margin-left: 10px;
              border-radius: 10px;
              line-height: 13px;
              font-size: 12px;
              color: #E17C15;
              border: 1px solid $theme-orange;
            }
          }

          .relate-dishes-container {
            margin-top: 5px;
            font-size: 12px;
            color: $theme-gray;
            line-height: 18px;
            min-height: 36px;
          }

          .price-container {
            margin-top: 5px;
            .price, .weight {
              display: inline-block;
              vertical-align: bottom;
            }

            .price {
              font-size: 16px;
              color: $theme-orange;
            }

            .weight {
              margin-left: 5px;
              font-size: 12px;
              color: $theme-light-gray;
            }
          }

          .operation-container {
            position: absolute;
            right: 0;
            bottom: 0;
            line-height: 1;

            .decrease, .increase, .count {
              display: inline-block;
              vertical-align: middle;
            }

            .count {
              margin: 0 8px;
              font-size: 14px;
            }

            .decrease, .increase {
              width: 22px;
              height: 22px;
              border-radius: 50%;
              text-align: center;
              line-height: 18px;

              &.decrease {
                color: $theme-green;
                border: 1px solid $theme-green;
              }

              &.increase {
                color: white;
                background-color: $theme-green;
              }
            }
          }
        }
      }
    }
  }

  .shopping-info-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $footer-height;
    background-color: #333333;
    padding-left: 20px;
    z-index: 1;
    .shopping-cart-empty {
      color: #B8B8B8;
      line-height: $footer-height;
      .fa-shopping-cart {
        font-size: 20px;
      }
      span {
        font-size: 14px;
        margin-left: 10px;
      }
    }

    .shopping-cart {
      position: relative;
      height: $footer-height;
      .shopping-cart-container {
        width: 60px;
        line-height: 60px;
        position: absolute;
        bottom: 5px;
        background-color: $theme-green;
        border-radius: 50%;
        text-align: center;
        color: white;
        .fa-shopping-cart {
          font-size: 25px;
        }
        span {
          @include tag;
          position: absolute;
          top: 5px;
          right: 0;
        }
      }

      .shopping-price-container {
        margin-left: 65px;
        .total-price {
          span {
            line-height: 25px;
            color: white;
            font-size: 20px;
            display: inline-block;
            vertical-align: top;
            &.need-distribution {
              font-size: 12px;
            }
          }
        }
        .distribute-hint {
          color: #D5D5D5;
          font-size: 12px;
        }
      }

      .shopping-pay-container {
        height: $footer-height;
        width: 100px;
        line-height: $footer-height;
        text-align: center;
        background-color: $theme-green;
        color: white;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  .shopping-cart-detail-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: $footer-height;
    background-color: rgba(0,0,0,.5);

    .shopping-cart-detail-panel {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 274px;
      background-color: white;

      .shopping-cart-detail-header {
        background-color: #ECECEC;
        line-height: 40px;
        &:after {
          content: "";
          clear: both;
          display: inline-block;
        }

        .clear-container {
          float: right;
          font-size: 14px;
          color: $theme-light-gray;
          .fa {
            margin-right: 5px;
          }
          span {
            margin-right: 10px;
          }
        }
      }

      .shopping-item-container {
        height: 234px;
        padding-bottom: 20px;
        overflow: auto;
        .shopping-item-box {
          padding: 10px;
          border-bottom: 1px solid $border-color;

          @include flex-container;
          .image-container {
            @include flex(none);
            img {
              width: 50px;
            }
          }

          .ingredient-info-container {
            @include flex(1);
            padding-left: 10px;
            position: relative;
            .name-container {
              .name {
                font-size: 16px;
              }
            }

            .price-container {
              margin-top: 5px;
              .price, .weight {
                display: inline-block;
                vertical-align: bottom;
              }

              .price {
                font-size: 16px;
                color: $theme-orange;
              }

              .weight {
                margin-left: 5px;
                font-size: 12px;
                color: $theme-light-gray;
              }
            }

            .operation-container {
              position: absolute;
              right: 0;
              bottom: 0;
              line-height: 1;

              .decrease, .increase, .count {
                display: inline-block;
                vertical-align: middle;
              }

              .count {
                margin: 0 8px;
                font-size: 14px;
              }

              .decrease, .increase {
                width: 22px;
                height: 22px;
                border-radius: 50%;
                text-align: center;
                line-height: 18px;

                &.decrease {
                  color: $theme-green;
                  border: 1px solid $theme-green;
                }

                &.increase {
                  color: white;
                  background-color: $theme-green;
                }
              }
            }
          }
        }
      }
    }
  }
}