@import "macro";
@import "../shared/address";
@import "../shared/layout";

@mixin tag {
  padding: 0 5px;
  line-height: 14px;
  border-radius: 7px;
  background-color: $theme-orange;
  color: white;
  font-size: 12px;
  // @include transform-origin(100% 0);
  // @include transform(scale(.5, .5));
}

.page-panel {
  background-color: white;
  margin-top: 20px;
  .panel-block {
    border-top: 1px solid $border-color;
    padding: 20px;
    position: relative;
    white-space: pre-wrap;
    .right-side {
      position: absolute;
      right: 20px;
      top: 50%;
      @include transform(translateY(-50%));
    }

    input[type=text], textarea {
      @include theme-input-border;
    }

    &:first-child {
      border-top: none;
    }
    &.scrollable {
      overflow-x: auto;
      white-space: nowrap;
    }

    // 滑动选择框
    .checkbox-btn {
      width: 50px;
      height: 30px;
      border: 1px solid $border-color;
      border-radius: 15px;
      @include transition(all, .3s, ease);

      .btn-circle {
        background-color: white;
        width: 28px;
        height: 28px;
        border: 1px solid $border-color;
        border-radius: 50%;
        @include box-shadow(0, 2px, -2px, 2px, $border-color);
      }

      &.disable, {
        padding-left: 0;
        background-color: white;
      }

      &.enable {
        padding-left: 20px;
        background-color: $theme-green;
      }
    }

    // 单选框
    .radiobox-container {
      display: inline-block;
      margin-right: 30px;
      .custom-radio-btn, label {
        display: inline-block;
        vertical-align: middle;
      }

      .custom-radio-btn {
        width: 20px;
        border-radius: 50%;
        border: 1px solid $border-color;
        line-height: 20px;
        font-size: 12px;
        color: white;
        text-align: center;
        margin-right: 5px;
        &.selected {
          background-color: $theme-green;
          border: none;
        }
      }

      label {
        margin-bottom: 0;
      }
    }
  }
}

.slide-left-enter-active, .slide-left-leave-active, .slide-right-enter-active, .slide-right-leave-active, .slide-up-enter-active, .slide-up-leave-active, .slide-down-enter-active, .slide-down-leave-active {
  @include transition(all, .3s, ease);
}

.fade-out-leave-active {
  @include transition(all, .8s, ease);
}

.slide-left-leave-active, .slide-right-enter, {
  @include transform(translateX(100%));
}

.slide-left-enter, .slide-right-leave-active {
  @include transform(translateX(-100%));
}

.slide-up-leave-active, .slide-down-enter, {
  @include transform(translateY(-100%));
}

.slide-up-enter, .slide-down-leave-active {
  @include transform(translateY(100%));
}

.fade-out-leave-active {
  opacity: 0;
}

.throwable-ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $theme-green;
  position: fixed;
}

.shop-page-container {
  .search-input-container {
    @include flex-container;
    @include flex-center;
    padding: 10px;
    height: 50px;
    .search-input {
      @include flex(1);
      height: 30px;
      line-height: 30px;
      border-radius: 15px;
      outline: none;
      border: 1px solid #999999;
      padding: 0 10px;
      i.fa {
        margin-right: 5px;
      }
      span {
        color: $theme-light-gray;
      }
    }
  }

  .event-message-container {
    line-height: 30px;
    background-color: #FFFDE2;
    color: #953609;
    font-size: 12px;
    padding-left: 15px;
    position: relative;
    white-space: nowrap;
    span {
      position: absolute;
      right: 15px;
    }
  }

  .goods-container {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;

    &.with_message {
      top: 80px;
    }

    .items-container {
      @include flex-container;
      height: 100%;
    }

    .categories-container {
      @include flex(none);
      width: 80px;
      height: 100%;
      background-color: $bg-light-gray;
      overflow: auto;
      .category-label {
        background-color: #F6F6F6;
        border-bottom: 1px solid $border-color;
        text-align: center;
        line-height: 55px;
        font-size: 12px;
        color: $theme-black;
        position: relative;
        &.selected {
          border-left: 5px solid $theme-green;
          background-color: $theme-white;
          color: $theme-green;
          font-size: 13px;
        }

        .category-count {
          @include tag;
          position: absolute;
          top: 10px;
          right: 5px;
        }
      }
    }

    .ingredients-container {
      @include flex(1);
      height: 100%;
      position: relative;
      overflow: hidden;
      @include flex-container;
      flex-direction: column;

      .category-hint {
        background-color: #FFFDE2;
        color: #953609;
        margin-left: 10px;
        padding: 5px;
      }

      .secondary-tag-container {
        background-color: #F6F6F6;
        overflow-x: auto;
        white-space: nowrap;
        .secondary-tag {
          display: inline-block;
          line-height: 30px;
          text-align: center;
          padding: 0 20px;
          color: $theme-light-gray;
          &.selected {
            color: $theme-green;
          }
        }
      }

      .ingredients-list-container {
        @include flex(1);
        position: relative;
        overflow: auto;
        .no-result {
          text-align: center;
        }

        .secondary-tag-header {
          color: $theme-light-gray;
          line-height: 30px;
          padding-left: 20px;
          background-color: #F8F8F8;
        }

        .ingredients-panel {
          margin-left: 10px;
          padding: 10px 10px 10px 0;
          border-bottom: 1px solid $border-color;

          @include flex-container;
          .image-container {
            @include flex(none);
            width: 25%;
            img {
              width: 100%;
            }
          }

          .ingredient-info-container {
            @include flex(1);
            padding-left: 10px;
            position: relative;
            .name-container {
              font-size: 16px;
            }

            .tag-container {
              .tag {
                display: inline-block;
                vertical-align: middle;
                padding: 0 2px;
                margin-right: 10px;
                border-radius: 10px;
                line-height: 13px;
                font-size: 12px;
                color: #E17C15;
                border: 1px solid $theme-orange;
              }
            }

            .texture {
              font-size: 12px;
              color: $theme-light-gray;
            }

            .relate-dishes-container {
              margin-top: 5px;
              font-size: 12px;
              color: $theme-gray;
              line-height: 18px;
              min-height: 36px;
            }

            .sales-volume-container {
              color: $theme-light-gray;
              font-size: 12px;
              margin-top: 5px;
            }

            .price-container {
              margin-top: 5px;
              .price, .weight, .original-price, .stock-count {
                display: inline-block;
                vertical-align: bottom;
              }

              .price {
                font-size: 16px;
                color: $theme-orange;
                &.unsellable {
                  font-size: 12px;
                }
              }

              .weight {
                margin-left: 5px;
                font-size: 12px;
                color: $theme-light-gray;
              }

              .original-price {
                text-decoration: line-through;
                font-size: 12px;
                margin-left: 5px;
                color: $theme-light-gray;
              }

              .stock-count {
                font-size: 12px;
                margin-left: 5px;
                color: $theme-light-gray;
              }
            }

            .operation-container {
              position: absolute;
              right: 0;
              bottom: 0;
              line-height: 1;

              .decrease, .increase, .count {
                display: inline-block;
                vertical-align: middle;
              }

              .count {
                margin: 0 8px;
                font-size: 14px;
              }

              .decrease, .increase {
                width: 22px;
                height: 22px;
                border-radius: 50%;
                text-align: center;
                line-height: 18px;

                &.decrease {
                  color: $theme-green;
                  border: 1px solid $theme-green;
                }

                &.increase {
                  color: white;
                  background-color: $theme-green;
                  &.disabled {
                    background-color: $theme-green;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .shopping-info-container {
    .shopping-cart-empty {
      color: #B8B8B8;
      line-height: $footer-height;
      .fa-shopping-cart {
        font-size: 20px;
      }
      span {
        font-size: 14px;
        margin-left: 10px;
      }
    }

    .shopping-cart {
      position: relative;
      height: $footer-height;
      .shopping-cart-container {
        width: 50px;
        line-height: 50px;
        position: absolute;
        bottom: 5px;
        background-color: $theme-green;
        border-radius: 50%;
        text-align: center;
        color: white;
        .fa-shopping-cart {
          font-size: 25px;
        }
        span {
          @include tag;
          position: absolute;
          top: 5px;
          right: 0;
        }
      }

      .shopping-price-container {
        margin-left: 55px;
        .total-price {
          line-height: 50px;
          color: white;
          font-size: 20px;
          display: inline-block;
          vertical-align: top;
        }
      }

      .shopping-pay-container {
        height: $footer-height;
        width: 100px;
        line-height: $footer-height;
        text-align: center;
        background-color: $theme-green;
        color: white;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  .shopping-cart-detail-container {
    bottom: $footer-height;
    z-index: 0;
    .shopping-cart-detail-panel {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 300px;
      background-color: white;

      .shopping-cart-detail-header {
        background-color: #ECECEC;
        line-height: 40px;
        &:after {
          content: "";
          clear: both;
          display: inline-block;
        }

        .title {
          float: left;
          font-size: 14px;
          margin-left: 10px;
        }

        .clear-container {
          float: right;
          font-size: 14px;
          color: $theme-light-gray;
          .fa {
            margin-right: 5px;
          }
          span {
            margin-right: 10px;
          }
        }
      }

      .shopping-item-container {
        height: 260px;
        padding-bottom: 20px;
        overflow: auto;
        .shopping-item-box {
          padding: 10px;
          border-bottom: 1px solid $border-color;

          @include flex-container;
          .image-container {
            @include flex(none);
            img {
              width: 50px;
            }
          }

          .ingredient-info-container {
            @include flex(1);
            padding-left: 10px;
            position: relative;
            .name-container {
              .name {
                font-size: 16px;
              }
            }

            .price-container {
              margin-top: 5px;
              .price, .weight {
                display: inline-block;
                vertical-align: bottom;
              }

              .price {
                font-size: 16px;
                color: $theme-orange;
              }

              .weight {
                margin-left: 5px;
                font-size: 12px;
                color: $theme-light-gray;
              }
            }

            .operation-container {
              position: absolute;
              right: 0;
              bottom: 0;
              line-height: 1;

              .decrease, .increase, .count {
                display: inline-block;
                vertical-align: middle;
              }

              .count {
                margin: 0 8px;
                font-size: 14px;
              }

              .decrease, .increase {
                width: 22px;
                height: 22px;
                border-radius: 50%;
                text-align: center;
                line-height: 18px;

                &.decrease {
                  color: $theme-green;
                  border: 1px solid $theme-green;
                }

                &.increase {
                  color: white;
                  background-color: $theme-green;
                }
              }
            }
          }
        }
      }
    }
  }
}

.order-page-container {
  background-color: $bg-light-gray;
  position: relative;
  .color-split {
    width: 100%;
    height: 4px;
    background-image: asset_url("shop/color_split.png");
    background-repeat: repeat-x;
  }

  .items-info {
    .item-box {
      display: inline-block;
      width: 50px;
      height: 50px;
      position: relative;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      img {
        width: 100%;
        height: 100%;
      }
      .hint {
        position: absolute;
        right: 2px;
        bottom: 2px;
        font-size: 12px;
      }
    }
  }

  .pay-mode-container {
    .pay-mode-block {
      width: 70px;
      height: 30px;
      border: 1px solid $border-color;
      border-radius: 5px;
      display: inline-block;
      margin-left: 10px;
      font-size: 14px;
      text-align: center;
      line-height: 30px;

      &.selected {
        border-color: $theme-green;
        color: $theme-green;
      }
    }
  }

  .remark-input, .referral-code-input, .campaign-input  {
    width: 75%;
    input {
      width: 100%;
      text-align: right;
    }
  }

  .order-detail {
    .price-label {
      color: $theme-gray;
    }
    .price-tag {
      color: $theme-orange;
    }
  }

  .order-price-container {
    color: #B8B8B8;
    line-height: $footer-height;
    .fa-shopping-cart {
      font-size: 20px;
    }
    span {
      font-size: 14px;
      margin-left: 10px;
    }
  }

  .coupon-selector {
    position: absolute;
    width: 100%;
    bottom: $footer-height;
    height: 230px;
    background-color: white;
    font-size: 16px;
    text-align: center;
    overflow: auto;
    .option {
      padding: 10px 0;
      &.selected {
        color: $theme-green;
      }
      &.inactive {
        color: $theme-light-gray;
      }
    }
  }

  // 时间选择框
  .select-time-container {
    .time-selector {
      position: absolute;
      width: 100%;
      bottom: $footer-height;
      .time-selector-header {
        height: 40px;
        background-color: $theme-green;
        color: white;
        .cancel-btn {
          float: left;
          margin-left: 20px;
          line-height: 40px;
        }
        .submit-btn {
          float: right;
          margin-right: 20px;
          line-height: 40px;
        }
      }

      .time-selector-body {
        height: 230px;
        background-color: white;
        font-size: 16px;
        @include flex-container;
        @include flex-center;

        .date, .time {
          text-align: center;
          overflow: auto;
        }

        .option {
          &.selected {
            color: $theme-green;
          }
        }

        .date {
          @include flex(none);
          width: 150px;
          height: 120px;
          padding: 40px 0;
          .option {
            padding: 15px 0;
          }
        }

        .time {
          @include flex(1);
          height: 200px;
          padding: 40px 0;
          .option {
            padding: 10px 0;
          }
        }
      }
    }
  }
}
