h1 hello world!

textarea#markdown-container style="margin-top: 2000px;"

javascript:
  $(function(){
    App.cable.subscriptions.create("TestChannel", {
      connected: function(){
        var that = this;
        $(document).on("keypress", function(){
          that.perform("input", { message: "abc" });
        });
      },
      received: function(data){
        console.log(data);
      }
    });

    var markdown = new SimpleMDE({
      element: $("#markdown-container")[0],
    });
  });