h1 hello world!

javascript:
  $(function(){
    test = App.cable.subscriptions.create("TestChannel", {
      connected: function(){
        var that = this;
        $(document).on("keypress", function(){
          that.perform("input", { message: "abc" });
        });
      },
      received: function(data){
        console.log(data);
      }
    });
  });