.admin-order-container {
  margin: 20px;
}

.group-action {
  margin-bottom: 20px;
  .btn {
    margin-right: 5px;
  }
}

.next-state {
  margin-right: 10px;
}

.item {
  font-size: 14px;
  line-height: 25px;
}

tr.list {
  cursor: pointer;
}