nav.navbar {
  display: none;
}

.filter-container {
  display: none;
}

.group-action {
  display: none;
}

thead {
  display: none;
}

tr.list {
  display: none;
}

tr.detail {
  .print-show.hidden {
    display: block !important;
  }
}