.admin-wholesale-order-container {
  margin: 20px;

  table {
    margin-top: 20px;
    .operation {
      & > a:not(:last-child) {
        margin-right: 10px;
      }
    }

    .item {
      font-size: 14px;
      line-height: 25px;
    }

    tr.list {
      cursor: pointer;
    }

    tr.detail {
      textarea {
        width: 300px;
        height: 100px;
      }
    }
  }
}