$bg-gray: #888888;
$bg-light-gray: #F6F6F6;

$theme-green: #24AAA1;
$theme-white: #FFFFFF;
$theme-black: #000000;
$theme-gray: #888888;
$theme-light-gray: #A6A6A6;
$theme-orange: #B3561B;
$price-red: #CE4C1C;

$border-color: #E2E2E2;

@mixin flex-container {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
}

@mixin flex($value) {
          flex: $value;
  -webkit-flex: $value;
     -moz-flex: $value;
}